html, body {padding: 0;	margin: 0;}
html {height: 100%;}
body {
	background-color: #f2f2f2;
	font-family: "微软雅黑",Arial, Helvetica, Verdana;
	font-size: 16px;
	line-height: 2rem;
	color: #333;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none; padding-bottom:56px;
}
body * {
	text-shadow: none;
	
}
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div, h1, ul, dl, ol, dd, dt, h2, h3, h4, h5, p, form, label, input, textarea, img, span {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: bold;
}
h1, h2, h3 {
	font-size: 18px;
}
h4, h5, h6 {
	font-size: 16px;
}
input, textarea{ background: none; border: 0;}
a{color:#333333;text-decoration:none}
/*a:focus,a:hover{color:#166792;text-decoration:none}*/
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a.button, span.button, select, input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	text-transform: none;
	text-indent: 0;
	font-weight: bold;
	vertical-align: middle;
	line-height: 20px;
	display: block;
	height: 40px;
	width: 100%;
	padding: 10px;
}
a.button, span.button {
	background: #166792;
	color: #fff !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}

.flex{
	
	display: flex;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.ellipsis{
	
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}
.bg_orange{
	
	background: #ffb35b;
	
}
.bg_blue{
	
	background: #0450EB;
}
.font_gray{
	color: #666;
}

.font_gray1{
	color: #999;
}

.font_blue{
	color: #0347D0;
}
.font_pink{
	color: #fb4e5f;
}

.font_orange{
	color: #ff5802;
}

.font_green{
	color: #43cc00;
}
.bold{font-weight: 500;}
.clear{ clear:both;}
.left{ float: left;}
.right{ float: right;}
.content{ padding: 0.5rem 0.5rem;}
.margintop{ margin-top: 0.5rem;}
.nycontent{ padding: 0.7rem 0.5rem;}