html, body {padding: 0;	margin: 0;}
html {height: 100%;}
body {
	background-color: #f5f5f5;
	font-family: "微软雅黑",Arial, Helvetica, Verdana;
	font-size: 16px;
	line-height: 2rem;
	color: #333;
	min-height: 100%;
	position: relative;
	-webkit-text-size-adjust: none; padding-bottom:56px;
}
body * {
	text-shadow: none;
}
*{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
div, h1, ul, dl, ol, dd, dt, h2, h3, h4, h5, p, form, label, input, textarea, img, span {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	font-weight: bold;
}
h1, h2, h3 {
	font-size: 18px;
}
h4, h5, h6 {
	font-size: 16px;
}
input, textarea{ background: none; border: 0;}
a{color:#333333;text-decoration:none}
a:focus,a:hover{color:#166792;text-decoration:none}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
a.button, span.button, select, input[type="text"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 5px;
	text-transform: none;
	text-indent: 0;
	font-weight: bold;
	vertical-align: middle;
	line-height: 20px;
	display: block;
	height: 40px;
	width: 100%;
	padding: 10px;
}
a.button, span.button {
	background: #166792;
	color: #fff !important;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
}
.clear{ clear:both;}
.left{ float: left;}
.right{ float: right;}
.content{ padding: 0.5rem 0.5rem;}
.margintop{ margin-top: 0.5rem;}
.nycontent{ padding: 0.7rem 0.5rem;}

/*头部*/
    /*白色背景*/
    .header_white{ font-size: 16px; font-weight: bold; color: #000000; line-height: 48px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 50px; padding: 0 50px; background-color: #ffffff; text-align: center;}
    .header_white a.headerlogo{ width: calc(100% - 50px); height: 50px; position: absolute; text-align: left; top: 0; left: 0;}
    .header_white a.headerlogo img{ width: auto; max-height: 100%; max-width: 100%;}
    .header_white a.back{ width: auto; height: 50px; position: absolute; text-align: left; top: -1px; left: 0.5rem;}
    .header_white a.back img{ width: auto; height: 36px; max-width: 100%;}
    .header_white a.menu { display: block; text-align: center; width: 50px; height: 50px; position: absolute; top: 0; right: 0;}
    .header_white a.menu img{ width: 50px; height: 50px;}
    /*白色背景结束*/
    /*深色背景*/
    .header{ font-size: 16px; font-weight: bold; color: #fff; line-height: 48px; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 50px; padding: 0 50px; background-color: #000; text-align: center;}
    .header a.headerlogo{ width: calc(100% - 50px); height: 50px; position: absolute; text-align: left; top: -1px; left: 0.5rem;}
    .header a.headerlogo img{ width: auto; height: 36px; max-width: 100%;}
    .header a.back{ width: auto; height: 50px; position: absolute; text-align: left; top: -1px; left: 0.5rem;}
    .header a.back img{ width: auto; height: 36px; max-width: 100%;}
    .header a.menu { display: block; text-align: center; width: 50px; height: 50px; position: absolute; top: 0; right: 0;}
    .header a.menu img{ width: 50px; height: 50px;}
    /*白深色背景结束*/
/*头部结束*/

/*底部*/
.dibu{ padding: 1.5rem 0; background: #fff; text-align: center; vertical-align: middle; font-size: 12px; line-height: 20px; color: #a1a2a2;}
.dibu img{ height: 13px; width: auto; vertical-align: middle; padding-right: 0.3rem; margin-top: -1px;}
#footer {
    padding-top: 0px; border-top: 1px solid #dddddd;
    position: fixed;
    width: 100%;
    z-index: 99999;
    -moz-column-count: 5; 	/* Firefox */
    -webkit-column-count: 5; /* Safari 和 Chrome */
    column-count: 5;
    -moz-column-gap:0px;		/* Firefox */
    -webkit-column-gap:0px;	/* Safari 和 Chrome */
    column-gap:0px;
    color: #db0100;
    background-color: #fff;
    font-size: 14px;
    bottom: 0px;
    line-height: 0px;
    padding-bottom: 0px;
}
#footer ul{ margin: 0px; padding: 0px;}
#footer li {
    text-align: center;/* border-right: 1px solid #dddddd;*/
    line-height: 28px;
    width: 100%;
    margin: 0px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
}
#footer li:last-child{ border-right: 0;}
#footer li img {
    width: 30%; max-width: 26px;
    height: auto;
}
#footer a {
    font-size: 12px; color: #166792;
    background-color: #fff;
}
#footer a:hover { text-decoration: none;}
#footer li:hover {
    line-height: 28px;
    margin: 0px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 3px;
    padding-left: 0px;
}
#footer li:atcive {
}
#footer li figure i{
    vertical-align: middle;
    display: inline-block;
    width: 26px;
    height: 26px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 99%;
}
#footer li figure i.home{ background-image: url(../images/footer-ico_06.png);}
#footer li:hover figure i.home{ background-image: url(../images/footer-ico-hover_08.png);}
#footer li.hover figure i.home{ background-image: url(../images/footer-ico-hover_08.png);}
#footer li figure i.qq{ background-image: url(../images/footer-ico_48.png);}
#footer li:hover figure i.qq{ background-image: url(../images/footer-ico-hover_45.png);}
#footer li.hover figure i.qq{ background-image: url(../images/footer-ico-hover_45.png);}
#footer li figure i.tel{ background-image: url(../images/footer-ico_57.png);}
#footer li:hover figure i.tel{ background-image: url(../images/footer-ico-hover_59.png);}
#footer li.hover figure i.tel{ background-image: url(../images/footer-ico-hover_59.png);}
#footer li figure i.message{ background-image: url(../images/footer-ico_23.png);}
#footer li:hover figure i.message{ background-image: url(../images/footer-ico-hover_20.png);}
#footer li.hover figure i.message{ background-image: url(../images/footer-ico-hover_20.png);}
#footer li figure i.map{ background-image: url(../images/nav_footer_05.png);}
#footer li:hover figure i.map{ background-image: url(../images/nav_footer_051.png);}
#footer li.hover figure i.map{ background-image: url(../images/nav_footer_051.png);}
#footer figcaption {
    font-size: 13px;width: 100%;
    line-height: 20px; color: #333333;
    text-align: center;
    position: relative;
}
#footer li:hover figcaption{ color: #166792;}
#footer li.hover figcaption{ color: #166792;}
#footer figcaption span {
    border-radius: 360px;
    font-size: 10px;
    color: #166792;
    padding-right: 3px;
    padding-left: 3px;
    margin-bottom: 5px;
    margin-left: 5px;
    position: absolute;
    top: -30px;
    right: 3px;
}
/*底部结束*/

/*首页banner*/
.block_home_slider {
    padding: 0;
    position: relative;
    background-color: #ffffff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 0px;
    margin-right: auto;
    margin-left: auto;
}
.block_home_slider .slide {position:relative;}
.block_home_slider .caption { display: none; padding:8px 9px 5px; position:absolute; left:0px; right:0px; bottom:0px; text-align:left;}
.block_home_slider .caption p {padding-bottom:0px; font-size:11px; color:#dedede; text-shadow:0px -1px #000000; line-height:17px;}
.block_home_slider .caption p.title {padding-bottom:6px; font-size:15px; color:#ffffff; font-weight:bold; line-height:normal;}
.block_home_slider .flex-direction-nav a {width:25px; height:25px; margin-top:-27px; display:block; position:absolute; top:50%; background-repeat:no-repeat; text-indent:-9000px; display: none;}
.block_home_slider .flex-direction-nav a.flex-prev {left:6px; background-position:left top;}
.block_home_slider .flex-direction-nav a.flex-prev:hover {background-position:left bottom;}
.block_home_slider .flex-direction-nav a.flex-next {right:6px; background-position:right top;}
.block_home_slider .flex-direction-nav a.flex-next:hover {background-position:right bottom;}
.block_home_slider .flex-control-paging { bottom: 19px; display:inline-block; position: relative;}
.block_home_slider .flex-control-paging li {
    margin: 0px;
    padding: 0px;
    float: left;
    overflow: hidden;
    list-style-type: none;
}
.block_home_slider .flex-control-paging li a {width:8px; height:8px; display:block; text-indent:-9000px; cursor:pointer; margin: 0 2px; border-radius: 4px; background: transparent; border: 1px solid #d1521d;}
.block_home_slider .flex-control-paging li a.flex-active { background: #d1521d; border: 1px solid #d1521d;}
.block_home_post_feature {width:300px;}
.block_home_post_feature p {padding-bottom:0px;}=
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    list-style-type: none;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}
/*首页banner结束*/

/*返回顶部*/
.indexTop{ width: 50px; height: 50px; position: fixed; right: 5px; bottom: 60px;}
.indexTop img{ width: 50px; height: 50px;}
/*返回顶部结束*/

/*菜单弹出*/
.searchBox{ width: 100%; height: 40px; border-bottom: 1px solid #ccc; position: relative;}
.searchBox .searchBox_1{ display: block; width: 15%; height: 36px; padding-top: 2px;}
.searchBox .searchBox_1 img{ width: auto; height: 100%;}
.searchBox .searchBox_2{ width: 66%; padding: 0 2%; height: 28px; line-height: 28px; margin-top: 6px; border: 1px solid #999; border-radius: 16px;}
.searchBox .searchBox_3{ width: 15%; height: 40px; line-height: 40px; font-size: 1.5rem; text-align: left;}
.searchBox2 .searchBox2_1{ text-align: center; height: 100%;}
.searchBox2 .searchBox2_1 img{ padding-top: 40%; width: 100px;}
.searchBox .searchBox_4{ position: absolute; display: block; width: 15%; height: 36px; padding-top: 2px; left: 0; top: 0;}
.searchBox .searchBox_4 img{ width: auto; height: 100%;}
.searchBox .searchBox_5{ font-size: 1.8rem; text-align: center; line-height: 40px;}
.navBox{ padding: 0.7rem;}
.navBox_1{ font-size: 1.8rem; font-weight: bold; color: #333;}
.navBox_1 a{ display: block; font-size: 1.8rem; padding: 0.5rem 0; font-weight: bold; color: #333;}
.navBox_2 ul li{ float: left; width: 31.33%; margin: 1%; height: 28px; line-height: 28px; overflow: hidden; background: #eee; border-radius: 4px;}
.navBox_2 ul li a{ display: block; text-align: center; font-size: 12px;}
/*菜单弹出结束*/

/*首页内容*/
.interactive5{ background: #fff; padding: 1rem 0;}
.interactive5 ul li{ width: 25%; height: auto; float: left; text-align: center; padding: 0.6rem 1%;}
.interactive5 ul li img{ width: 50%; height: auto;}
.interactive5 ul li p{ line-height: 1.8rem; height: 1.8rem; overflow: hidden; margin-top: 0.3rem; text-align: center; font-size: 14px; }

/*首页内容结束*/

/*文字信息列表*/
.list_pictext02{ padding-bottom: 1rem;}
.list_pictext02 ul li{ margin: 0 0 0.5rem; padding: 0.7rem 0.5rem 0.5rem 0; background: #fff;}
.list_pictext02 ul li:first-child{ margin-top: 0;}
.list_pictext02 ul li:last-child{ margin: 1rem 0 0;}
.list_pictext02 ul li a{ display: block; background: url("../images/dian.gif") no-repeat 5px 8px; padding-left: 15px;}
.list_pictext02 ul li a .tianyu2_211{ overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2; line-height: 20px;}
.list_pictext02 ul li a .tianyu2_212{ color: #cccccc;}
/*文字信息列表结束*/

/*瀑布流图片*/
#list_pic{ position: relative; width: 100%;}
.box { float: left;
    width: 49%;
    padding: 0.3rem;
    font-size: 11px;
    line-height: 1.4em;
    margin: 0;
}
.box .box_1{ width: 100%;;
    padding: 5px 5px;
    background: #fff;
}
.box img { width: 100%; height: auto;}
.box .box_1 p{ color: #2b2b2b;font-size: 16px;font-weight: normal;padding-top: 0.7rem; margin-bottom:0.5rem;text-overflow: -o-ellipsis-lastline;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical; line-height: 20px; text-align: center;}
/*瀑布流图片结束*/

/*图文信息列表*/
.list_text{/* margin-bottom: 2%; padding-bottom: 1rem;*/}
.list_text ul li{ background: #fff; padding: 0.5rem; margin: 0 0 0.5rem;}
.list_text ul li:first-child .list_item{ padding-top: 0;}
.list_item{display:block;overflow:hidden;position:relative;text-decoration:none;-webkit-tap-highlight-color:transparent}
.list_item:active{background-color:rgba(0,0,0,.1)}
.list_item:after{content:" ";position:absolute;bottom:0;width:100%;height:1px;border-bottom:1px solid #e2e2e2;-webkit-transform-origin:0 100%;transform-origin:0 100%;-webkit-transform:scaleY(0.5);transform:scaleY(0.5);left:10px}
.list_item:last-child:after{border:0}
.list_item .cover{float:left;margin-right:10px}
.list_item .cover img{display:block;width:113px;height: auto;}
.list_item .cont{overflow:hidden}
.list_item .cont .title{font-size:16px;color:#000;width:100%;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:3;line-height:23px;}
.list_item .cont .desc{font-size:14px;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;line-height:1.3; margin: 5px 0 5px; color: #666;}
.list_item .cont .pic_1{ font-size:13px; line-height:1.3; color: #dd8e1c; margin-top: 2px;}
.list_item .cont .pic_3{ font-size:13px; line-height:1.3; color: #999999; margin-top: 2px;}
.list_item .cont .pic_2{ float: left; padding: 3px 1.5rem; font-size: 14px; background: #54a9ae; color: #fff;}
.more{text-align:center}
/*图文信息列表结束*/

/*图文信息列表2*/
.list_pictext01 li {
    background-color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    position: relative;
}
.list_pictext01 li a{ text-decoration:none;}
.list_pictext01 li h3{ margin:0 0 10px 0;}
.list_pictext01 p.cop {
    font-size: 10px;
    color: #999999;
}
.list_pictext01 li img {
    width: 100%; height: auto;
}
.list_pictext01 p{ font-size: 14px; line-height: 1.8rem; padding: 0.5rem 0;}
.list_pictext01 p.src {
    text-align: right;
    padding-right: 10px;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #CCCCCC;
    font-size: 12px;
    line-height: 24px;
}
/*图文信息列表2结束*/

/*图片组合样式*/
.pic01{width: 100%;padding: 5px;}
.pic01 li{width: 100%;height: auto;overflow: hidden; margin-bottom: 5px;}
.pic01 li:nth-child(1){background: #f2c15b; }
.pic01 li:nth-child(2){background: #ff9999; }
.pic01 li:nth-child(3){background: #f2c15b; }
.pic01 li:nth-child(4){background: #a1bbe0; }
.pic01 li:nth-child(5){background: #f2c15b; }
.pic01 li:nth-child(6){background: #f2c15b; }
.pic01 li .pic01_img{width: 70%;float: left; line-height: 0;}
.pic01 li .pic01_img img{width: 100%;}
.pic01 li .pic01_info{width: 30%;float: left; padding-left: 10px;}
.pic01 li .pic01_info h2{font-weight: normal;color: #ffffff;margin-top: 30%; font-size: 16px; overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:4;}
.pic01 li .pic01_info .src{    position: relative;z-index: 9;display: block;width: 32px;height: 22px;background-size: 22px 22px;background-repeat: no-repeat;background-position: 0px center; background-image: url("../images/pic_05.png");top: 1rem;}
.pic01 li .pic01_info .src .pic_left{    position: absolute;z-index: 9;width: 0px;height: 0;border-top: 10px solid transparent;border-bottom: 10px solid transparent;left: -20px;top: -35px;}
/*图片组合样式结束*/

/*详细页*/
.listMore{ font-size: 18px; line-height: 25px; font-weight: bold; padding: 5px 0;}
.listMore2{ height: 18px; line-height: 18px; border-left: 2px solid #166792; color: #808080;}
.listMore2 span{ padding: 0 2%;}
.listMore3{ padding: 8px 0;}
.listMore3 img{ width: 100%; height: auto;}
.listMore4{ height: 62px; line-height: 25px; overflow: hidden; padding: 6px 10px; border: 1px solid #dfdfdf; position: relative;}
.listMore4_1{ position: absolute; right: 2px; top: 2px;}
.listMore4_1 a{ display: block; width: 58px; height: 58px; line-height: 58px; text-align: center; background: #e4e4e4;}
.listMore5{ padding: 1.7rem 0 0;}
.listMore5 .listMore5_1{ line-height: 30px; text-align: center; width: 96%; margin: 0 auto; font-size: 18px; background: url("../images/huisexian.gif") repeat-x center;}
.listMore5 .listMore5_1 span{ background: #f5f5f5; padding: 0 0.8rem;}
.listMore5 .listMore5_2{ padding: 0 5px;}
.listMore5 .listMore5_2 img{ width: 30px; height: 30px;}
.listMore6{ height: 4rem; line-height: 3.6rem; background: #fff; border-top: 2px solid #166792; font-size: 18px; font-weight: bold; color: #166792; margin-bottom: 0.5rem;}
.showcontent_share{height:auto;position:relative;}
.showcontent_share.newsCon_share{float:none;/*text-align:center;*/display:block;padding:0.5rem 0 0 0;}
.showcontent_share .bdsharebuttonbox{ width: 100%; display:inline-block;margin-bottom: 0;}
.showcontent_share .bdsharebuttonbox p{display:inline-block;width:auto;font-size:16px;color:#5a5a5a;float:none;margin:0 5px;padding:0;vertical-align:middle;}
.showcontent_share .bdsharebuttonbox a{width:31.33%;height:40px;padding:0;display: inline-block;float:left; margin: 6px 1%;background-repeat:no-repeat;background-position:center 0px;border-radius:20px;vertical-align:middle; background-size: cover; border: 1px solid #c7c7c7;}
.showcontent_share .bdsharebuttonbox a.bds_tsina{background-image:url("../images/fenxiang_03.png");}
.showcontent_share .bdsharebuttonbox a.bds_weixin{background-image:url("../images/fenxiang_01.png");}
.showcontent_share .bdsharebuttonbox a.bds_sqq{background-image:url("../images/fenxiang_02.png");}

/*详细页结束*/

/*图文信息列表3*/
.list_pictext03{
    text-align: center;
}
.list_pictext03 li {
    background-color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
}
.list_pictext03 li .name {
    bottom: 6px;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline;
    padding: 10px 10px 0;
    left: 10px;
    right: 10px;
    position: absolute;
}
.list_pictext03 li a {
    color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.list_pictext03 li img {
    width: 100%;
}
.list_pictext03 .name h1{ padding: 0.3rem 0;}
.list_pictext03 .name p{ font-size: 14px; line-height: 20px; margin: 0.5rem 0; overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.list_pictext03 .name p.src {
    text-align: right;
    padding-right: 10px;
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #CCCCCC;
    font-size: 12px;
    line-height: 24px;
}
/*图文信息列表3结束*/

/*表单样式*/
.biaodan{width: 100%; background: #ffffff; height: auto; padding: 0.5rem;}
.biaodan input{width:100%;height: 40px; border: 1px solid #ccc; padding-left: 10px; font-size: 16px; margin-top: 0.5rem; font-weight: normal;}
.biaodan input:focus{ border: 1px solid #166792; outline: 0;}
.biaodan p{ font-size: 14px; color: #949494; margin-top: 2px; margin-bottom: 0.5rem;}
.biaodan p img{vertical-align: middle; margin-right: 2px;}
.biaodan textarea{width: 100%; border: 1px solid #ccc;padding: 5px 10px; margin-top: 0.5rem; height: 150px; border-radius: 5px;}
.biaodan .tijiao{width: 100%;height: 45px; background: #166792;font-size: 16px; color: #ffffff; border-radius: 3px; border: 0;}
.biaodan .chakan{width: 100%;height: 45px; background: #006eb7;font-size: 16px; color: #ffffff; border-radius: 3px; border: 0;}
.huiceng{width: 100%;height: 100%;position: fixed;background: rgba(0,0,0,0.6); top: 0;left: 0;}
/*表单样式结束*/

/*查看留言*/
.history {
    background: url(../images/line04.png) repeat-y 15px 0;
    position: relative;
}
.history-date h2 {
    background: url(../images/icon06.png) no-repeat 0 0;
    height: 22px;
    font-size: 22px;
    font-weight: normal;
    padding-left: 38px;
    margin: 0 0 18px 0;
    padding-top: 0;
    background-size: 32px auto;
    color: #166792;
}
.history-date ul li {
    background: url(../images/icon07.png) no-repeat 4px -1px;
    background-size: 23px auto;
    padding: 3px 0 20px 30px;
    zoom: 1;
}
.history-date ul li h3 {
    color: #166792;
    font-size: 18px; line-height: 17px; font-weight: normal;
    margin: -2px 0 4px 0;
}
.history-date ul li h3 span {
    display: block;
    color: #888;
    font-size: 12px;
    margin-top: 2px;
}
.history-date ul li dl {
    color: #666666;
    display: block;
    font-size: 14px; font-weight: normal;
    padding: 0;
    position: relative;
}
.history-date ul li dl dt{ font-weight: normal; line-height: 17px;}
.history-date ul li dl dt dl{ background: #f7f7f7; padding: 9px 12px; margin-top: 5px;}
.history-date ul li dl dt dl h3{ font-size: 17px; color: #cc271f; padding: 5px 0;}
.history-date ul li dl dt dl h3 span{ display: inline; padding-left: 5px; color: #888; font-size: 12px;}

/*查看留言结束*/

/*翻页效果*/
.fenye{ text-align: center; width: 100%;}
.pagination>li{
    background: none !important;
    padding: 0 !important;

}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #166792;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #166792;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #166792;
    border-color: #166792;
}
/*翻页效果结束*/
/*案例详情----带有图片*/
.moreCase_imgbox{
    width:100%;
    //padding: 0px 5px;
}
.moreCase_imgbox img{
    width: 100%;
    margin: 5px 0px;
}
.dianzan{
    background: #f97070;
    color: #FFFFFF;
    width: 45%;
    height:50px;
    border-radius: 25px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.dianzan img{
    width: 25px;
    vertical-align: sub;
}
#wx_code{
    text-align: center;
}
.result4{margin-top: 1.5rem;}
.result4 ul li{ float: left; width: 49%; height: auto; margin-bottom: 15px;background: #FFFFFF;}
.result4 ul li.nomargin{ margin-right: 0;}
.result4 ul li .result4_1{ position: relative;}
.result4 ul li .result4_1 .result4_11{ width: 100%; height: 218px; display: block; position: absolute; left: 0; top: 0; background-color: rgba(0, 0, 0, 0.5); background-image: url("../images/video_1.png"); background-position: center; background-repeat: no-repeat; background-size: 70px auto;}
.result4 ul li .result4_1 img{ width: 100%; height: auto;}
.result4 ul li .result4_2{ padding: 5px 8px 0; border: 1px solid #c8c8c8; border-top: 0;}
.result4 ul li:hover .result4_2{ border: 1px solid #0b8bdb; border-top: 0; transition: all 0.9s;}
.result4 ul li .result4_2 .result4_21{ line-height: 30px; overflow: hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:1; font-size: 16px;}
.result4 ul li .result4_2 .result4_22{ height: 30px; line-height: 30px; overflow: hidden; color: #999999;}
.result4 ul li .result4_2 .result4_23{ height: 44px; overflow: hidden; color: #666666; border-top: 1px solid #abaaaa; margin-top: 5px;}
.result4 ul li:hover .result4_2 .result4_23{ border-top: 1px solid #0b8bdb; transition: all 0.9s;}
.result4 ul li .result4_2 .result4_23 .result4_231{ line-height: 44px; color: #999; font-size: 16px;}
.result4 ul li .result4_2 .result4_23 .result4_232{  margin-top: 8px;margin-right: 6px; width: 30px; height: 16px;}
.result4 ul li .result4_2 .result4_23 .result4_232 img{
    top: 9px;
    right: 25px;
    opacity: 0.6;
    width: 25px;
    animation: more1 1.1s infinite;
    /* Firefox: ; */
    -moz-animation: more1 1.1s infinite;
    -webkit-animation: more1 1.1s infinite;
    /* Opera: ; */
    -o-animation: more1 1.1s infinite;
}
.result4 ul li:hover .result4_2 .result4_23 .result4_232{ display: block; transition: all 0.9s;}
@keyframes more1
{
    0% {/* -webkit-transform: translate(0,0px); *//* opacity:0.6; */}
    50% {-webkit-transform: translate(4px,0);opacity:1;}
}

@-moz-keyframes more1
{
    0% {-webkit-transform: translate(0,0px);opacity:0.6;}
    50% {-webkit-transform: translate(4px,0);opacity:1;}
}

@-webkit-keyframes more1
{
    0% {-webkit-transform: translate(0,0px);opacity:0.6;}
    50% {-webkit-transform: translate(4px,0);opacity:1;}
}

@-o-keyframes more1
{
    0% {-webkit-transform: translate(0,0px);opacity:0.6;}
    50% {-webkit-transform: translate(4px,0);opacity:1;}
}
@-ms-keyframes more1
{
    0% {-webkit-transform: translate(0,0px);opacity:0.6;}
    50% {-webkit-transform: translate(4px,0);opacity:1;}
}
/*案例详情----带有图片结束*/

/*合作伙伴*/
.list_partner ul li{ float: left; width: 32%; margin-right: 2%; height: auto; overflow: hidden; border: 1px solid #eeeeee; margin-bottom: 0.5rem;}
.list_partner ul li.nomargin{ margin-right: 0;}
.list_partner ul li img{ width: 100%; height: auto;}
/*合作伙伴结束*/
/*合作伙伴2---开始*/
.cooperation{margin-top: 0.5rem;}
.cooperation ul li{ float: left; width: 49%; height: auto; overflow: hidden; border: 5px solid #fff; margin-bottom: 0.5rem;}
.cooperation ul li.nomargin{ margin-right: 0;}
.cooperation ul li img{ width: 100%; height: auto;}
/*合作伙伴2---结束*/
/*人才招聘*/
.recruit{
	margin-top: 10px;
}
.office{
	background: #FFFFFF;
	padding: 5px 7px;
	border-bottom: 1px solid #d2d2d2;
}
.office_post span{
	color: #666;
	font-size: 12px;
}
.office_name{
	color: #333333;
	font-size: 17px;
}
.office_num{
	color: #666;
	font-size: 16px;
	margin-top: 12px;margin-right: 10px;
}
.office_num span:first-child{
	margin-right: 10px;
}
.recruit_bottom{
	margin-top: 8.5px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: url(../images/recruit_bottom.png) no-repeat;
	background-position: 6px 6px;
}
.recruit_top{
	margin-top: 8.5px;
	width: 30px;
	height: 30px;
	text-align: center;
	background: url(../images/recruit_top.png) no-repeat;
	background-position: 6px 6px;
}
.office_detail{
	background: #fff;
	font-size: 14px;
	color: #444;
	padding: 8px 8px;
	padding-bottom: 40px;
}
/*人才招聘--end*/
/*下载中心-start*/
.download_content{
	//padding: 0 7px;	
}
.download_list{
	background: #fff;
	margin-bottom: 10px;
}
.down_title{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	padding: 5px 8px;
	border-bottom: 1px solid #d2d2d2;
}
.down_title img{
	width: 20px;
	height: 20px;
	margin-top: 5px;
    margin-right: 7px;
}
.down_title div{
	font-size: 16px;
}
.down_btn{
	padding: 10px 15px 15px 0;
}
.down_btn button{
	background: #fff;
	font-size: 14px;
	border-radius: 4px;
	border:1px solid #d2d2d2;
	outline: none;
	margin-left: 15px;
}
.down_btn button:last-child{
	margin-left: 15px;
}
.down_btn button img{
	width: 20px;
	height: 20px;
}
/*下载中心-end*/
/*常见问题--start*/
.problem_content{
	
}
.problem_list{
	background: #FFFFFF;
	margin-bottom: 10px;
}
.problem_questions{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	padding: 5px 8px;
	border-bottom: 1px solid #d2d2d2;
}
.problem_questions img{
	width: 25px;
	height: 25px;
	margin-top: 2px;
    margin-right: 7px;
}
.problem_questions div{
	font-size: 16px;
}

.problem_answer{
	display: flex;
	display: -webkit-flex;
	display: -ms-flex;
	padding: 5px 8px;
	border-bottom: 1px solid #d2d2d2;
}
.problem_answer img{
	width: 25px;
	height: 25px;
	margin-top: 2px;
    margin-right: 7px;
}
.problem_answer div{
	font-size: 14px;
	color: #676767;
}
/*常见问题--end*/
/*视频新闻--start*/
.video_news_content{
	
}
.video_list{
}

.video_title{
	font-size: 18px !important;
	color: #333;
}
.video_jianjie{
	color: #777777;
}
/*视频新闻--end*/
/*团队列表--start*/

.team_list{margin-top: 0.5rem;}
.team_list ul li{ float: left; width: 49%; height: auto; overflow: hidden;background: #fff; margin-bottom: 0.5rem;}
.team_list ul li.nomargin{ margin-right: 0;}
.team_list ul li img{ width: 100%; height: auto;}

/*团队列表--end*/
/*关于我们*/
.about{
	
}
.about_1,.about_2,.about_3,.about_4{margin-bottom: 5px;}
.aboutTit{
	    font-size: 4rem;
    font-weight: 800;
    height: 4rem;
    line-height: 4rem;
}
.AboutName{
	font-size: 1.6rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.about_2>div,.about_3>div,.about_4>div{
	overflow: hidden;
}
.about_2>div .left{
	width: 45%;
	height: 16rem;
	text-align: center;
}
.about_2>div .left .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_2>div .left .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #fff;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_2>div .left .culture-word{
	margin-top: -2.5rem;
}

.about_2>div .right{
	width:55%;
	height: 16rem;
	text-align: center;
	background: #f5f5f5;
}

.about_2>div .right .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_2>div .right .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #f5f5f5;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_2>div .right .culture-word{
	margin-top: -2.5rem;
}
/*-----------------------------*/
.about_3>div .left{
	width: 45%;
	height: 16rem;
	text-align: center;
	background: #f5f5f5;
}
.about_3>div .left .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_3>div .left .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #f5f3f5;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_3>div .left .culture-word{
	margin-top: -2.5rem;
}

.about_3>div .right{
	width:55%;
	height: 16rem;
	text-align: center;
	
}

.about_3>div .right .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_3>div .right .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #fff;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_3>div .right .culture-word{
	margin-top: -2.5rem;
}
/*----------------------------------------------*/
.about_4>div .left{
	width: 45%;
	height: 16rem;
	text-align: center;
}
.about_4>div .left .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_4>div .left .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #fff;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_4>div .left .culture-word{
	margin-top: -2.5rem;
}

.about_4>div .right{
	width:55%;
	height: 16rem;
	text-align: center;
	background: #f5f5f5;
}

.about_4>div .right .culture-num{
	font-size: 8rem;
    font-weight: 900;
    height: 11rem;
    line-height: 10rem;
    position: relative;
}
.about_4>div .right .culture-stt{
	    font-size: 1.5rem;
    width: 6rem;
    background: #f5f5f5;
    /* padding: 2px 0; */
    position: absolute;
    top: 5.5rem;
    left: 50%;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
}
.about_4>div .right .culture-word{
	margin-top: -2.5rem;
}