*{
    padding:0;
    margin:0;
}
ul,li{
    list-style: none;
}
img{
    display: block;
}
.banner{
    width:738px;
    height:430px;
    margin: 50px auto 0;
    position: relative;
    overflow: hidden;
}
.show-img{
    position: relative;

}
.show-img li{
    position: absolute;
    left:0;
    top:0;
    display: none;
}
.show-img li.curr{
    display: block;
}
.curr-img{
    width:625px;
    position: absolute;
    left:50%;
    bottom: -92.8px;
    margin-left: -312px;
    background: #cccccc;
    padding: 10px;
    padding-bottom: 0px;
}
.curr-img li{
    float: left;

}
.active{
    display: block;
    width: 125px;
    height:10px;
    background: #ff8000;
}